.wrapper {
  width: 100%;
}

.container {
  position: relative;
  height: 0;
  padding-bottom: 35%;
  overflow: hidden;
}

.player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
}
