---
export interface Props {
  name: string
  href: string
}

const { name, href } = Astro.props
---

<div class="author">
  <p><a {href}>{name}</a></p>
</div>

<style>
  .author {
    padding: 0;
    margin: 0;
  }
</style>
