---
export interface Props {
  title: string;
  author: string;
  publishDate: string;
  heroImage: string;
  alt: string;
}

const { title, author, image, alt } = Astro.props
---

<div class="content">
  <slot />
</div>

<style>
  .content {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
</style>
