---
export interface Props {
  post: {
    frontmatter: {
      author: string;
      authorTwitter: string;
      category: string;
      title: string;
      explain: string;
      type: string;
      date: string;
      tags: string[];
      image: string;
    }
  }
}

const { post } = Astro.props
---

<div class="item">
  <a href={post.url}>
    <h2>
      {post.frontmatter.title}
      {post.frontmatter.explain !== '' && (
        <span>
          {`: ${post.frontmatter.explain}`}
        </span>
      )}
    </h2>
  </a>
</div>

<style>
  .item a {
    color: #2c2e2f;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    vertical-align: middle;
    gap: 4px;
    padding-left: 1em;
  }

  .item a:visited {
    color: #2c2e2f;
  }

  .item h2 {
    margin: 0;
    text-align: left;
    font-size: 1.08rem;
  }

  @media(min-width: 768px) {
    .item h2 {
      font-size: 0.92rem;
    }
  }
</style>
