---
export interface Props {
  post: {
    frontmatter: {
      author: string;
      authorTwitter: string;
      category: string;
      title: string;
      type: string;
      date: string;
      tags: string[];
    }
  }
}

const { post } = Astro.props
---

<div class="item">
  <a href={post.url}>
    {post.frontmatter.title}
  </a>
</div>

<style>
  .item {
    border-radius: 10px;
    padding: 12px 0;
    text-align: left;
  }

  p {
    text-align: left;
  }
</style>
