---
export interface Props {
  post: {
    frontmatter: {
      author: string;
      authorTwitter: string;
      category: string;
      title: string;
      type: string;
      date: string;
      tags: string[];
      image: string;
    }
  }
}

const { post } = Astro.props
---

<div class="item">
  <a href={post.url}>
    <h2>
      {post.frontmatter.title}
    </h2>
  </a>
</div>

<style>
  .item {
    border-radius: 10px;
    padding: 12px 0;
    text-align: left;
  }

  .item a {
    color: #2c2e2f;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    vertical-align: middle;
  }

  .item a:visited {
    color: #2c2e2f;
  }

  .item h2 {
    margin: 0;
    text-align: left;
    font-size: 1.08rem;
  }

  .item p {
    text-align: left;
    font-size: 0.96rem;
  }
</style>
