---
export interface Props {
  post: {
    frontmatter: {
      author: string;
      authorTwitter: string;
      category: string;
      title: string;
      explain: string;
      type: string;
      date: string;
      tags: string[];
      image: string;
    }
  }
}

const { post } = Astro.props
---

<div class="item">
  <a href={post.url}>
    <h2>
      {post.frontmatter.title}
      {post.frontmatter.explain !== '' && (
        <span>
          {`: ${post.frontmatter.explain}`}
        </span>
      )}
      </h2>
    <p>
      {post.frontmatter.title}
    </p>
  </a>
</div>

<style>
  .item {
    border-radius: 10px;
    padding: 12px 0;
    text-align: left;
  }

  .item a {
    color: #2c2e2f;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    vertical-align: middle;
    border-left: 3px solid #fff;
    padding-left: 1em;
  }

  .item a:visited {
    color: #2c2e2f;
  }

  .item h2 {
    margin: 0;
    text-align: left;
    font-size: 1.2rem;
  }

  .item p {
    margin-bottom: 0;
    text-align: left;
    font-size: 0.96rem;
  }
</style>
